Alan_NFP3/.DS_Store
Alan_NFP3/output_nfp2/.DS_Store
CNTqs/.DS_Store
CNTqs/optimization_6modes_finitebeta/.DS_Store
single_stage/.DS_Store
EPoptimization/__pycache__/vmecPlot2.cpython-39.pyc
.DS_Store
SingleStagePaper/cnt.py
SingleStagePaper/__pycache__/vmecPlot2.cpython-39.pyc
GX_SIMSOPT/output
GX_SIMSOPT/__pycache__
SingleStagePaper/__pycache__/vmecPlot2.cpython-38.pyc
GX_SIMSOPT/gx
GX_SIMSOPT/convert_VMEC_to_GX
*.restart.nc
