
.DS_Store
Alan_NFP3/.DS_Store
Alan_NFP3/output_nfp2/.DS_Store
CNTqs/.DS_Store
CNTqs/optimization_6modes_finitebeta/.DS_Store
single_stage/.DS_Store
EPoptimization/__pycache__/vmecPlot2.cpython-39.pyc
.DS_Store
